# Secrets
obs_secrets.json

# Python
__pycache__/
*.pyc
.venv/
venv/
build/
dist/
*.spec

# Arduino / PlatformIO
.pio/
*.hex
*.elf

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
